<div class="p-4 mt-4 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                ©Human Booster / Juste un stage pitié
                <a href="/?page=mentions-legales">Mentions légales</a>
            </div>
        </div>


        {% block contact %}
            <div class="row">
                <div class="col-12 text-center">
                    Juste une pièce Sire
                </div>
            </div>
        {% endblock contact %}
    </div>
</div>